.search {
  width: 80%;
  height: 75px;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: rgb(161, 111, 209);
}

.search .searchBar {
  background: #fff;
}
.search h1 {
  font-size: 50px;
}